@model HolidayManagement.ViewModels.HolidayApplication.HolidayApplicationViewModel
@using HolidayManagement.ApplicationLogic.Models

@{ var availableDays = Model.Employee.HolidayDays - Model.Employee.ConsumedHolidayDays;}
    <div><h1 class="holiday-title mb-4">Holiday Days: @availableDays / @Model.Employee.HolidayDays</h1></div>

    <table class="table table-hover">
        <thead class="holidays-table">
            <tr>
                <th>Holiday</th>
                <th>Period</th>
                <th>Status</th>
                <th style="width: 10rem;"></th>
            </tr>
        </thead>
        <tbody class="holidays-table">
            @foreach (var holidayApplication in Model.HolidayApplications)
            {
                <tr>
                    <td>@holidayApplication.Holiday.Type</td>
                    <td>
                        @holidayApplication.StartDay.ToShortDateString()
                        -
                        @holidayApplication.EndDay.ToShortDateString()
                    </td>
                    <td>@holidayApplication.Status</td>
                    <td>
                        <a onclick="loadDetailsHolidayApplication('@holidayApplication.Id')" href="#">Details</a>
                        @if (holidayApplication.Status == StatusApplication.Active)
                        {
                            <span style="border-left: 1px solid lightgrey; margin: 0 0.5rem;"></span>
                            <a asp-action="Cancel" asp-route-id="@holidayApplication.Id"
                               data-ajax="true" data-ajax-update="#mainContainer">Cancel</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>